<%- include("partial/header") -%>



    <h1>Contact Us</h1>
    <p>Thank you for visiting our Contact Us page. We are always eager to hear from our users and are here to answer any questions you may have about our blog reading and posting platform. Whether you are a writer looking for support, a reader with feedback, or just someone with a general inquiry, we are here to help.</p>
    <h3>Get in Touch</h3>
    <h4>Email</h4>
    <p>You can send us an email at <a href="mailto:mayank4code@gmail.com">mayank4code@gmail.com</a>.</p>
    <h4>GitHub</h2>
    <p>You can find our open-source projects and contributions on <a href="https://github.com/mayank4code">github.com/mayank4code</a>.</p>
    <h4>LinkedIn</h4>
    <p>You can connect with us on <a href="https://www.linkedin.com/in/mayank-yadav-0803b2200">linkedin.com/in/mayank-yadav</a> to stay updated on our latest developments and join the conversation.</p>
    <p>We value your feedback and strive to make our platform the best it can be. So, don't hesitate to reach out to us, and we will do our best to assist you. Thank you for choosing our blog reading and posting platform, and we look forward to hearing from you soon!</p>
  

<%- include("partial/footer") -%>